<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="BA006N">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000205499820772758 -0.0706588401652147 0.10646159175267"
        rpy="0 0 0" />
      <mass
        value="26.8486422471411" />
      <inertia
        ixx="0.533374007597343"
        ixy="0.00130219966196226"
        ixz="0.00019925476575943"
        iyy="0.294341994413475"
        iyz="-0.029044949793033"
        izz="0.60221185644689" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.013786732166526 0.0498895340587571 -0.08325129374047"
        rpy="0 0 0" />
      <mass
        value="9.80153895718964" />
      <inertia
        ixx="0.156180717765706"
        ixy="0.0215097457617848"
        ixz="0.015351398253477"
        iyy="0.10160349428437"
        iyz="-0.0388605180847702"
        izz="0.147369405938487" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 -0.43 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.137959420853931 0.00416139122143314 0.229419345613051"
        rpy="0 0 0" />
      <mass
        value="4.74872181483775" />
      <inertia
        ixx="0.270551032295682"
        ixy="-0.000815461717863338"
        ixz="-0.0284805167833853"
        iyy="0.271450602133002"
        iyz="-0.000614006384508206"
        izz="0.0157235468892348" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.165 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0438178374327656 -0.123846865911444 0.103990935066118"
        rpy="0 0 0" />
      <mass
        value="11.908715316331" />
      <inertia
        ixx="0.198779963775666"
        ixy="-0.000661662843167373"
        ixz="0.00355593638599833"
        iyy="0.124717388218987"
        iyz="0.0569817241704088"
        izz="0.143023106365004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0 0.55"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0739684721918252 0.0480256379544826 0.282202972898317"
        rpy="0 0 0" />
      <mass
        value="3.7972494425515" />
      <inertia
        ixx="0.0721130094238653"
        ixy="0.00178502160463009"
        ixz="-0.0133499572091834"
        iyy="0.0758197319106666"
        iyz="0.00961473387501913"
        izz="0.0144905158730971" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.21 0.142"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0217142638708119 0.0242427429101531 0.0489047615431364"
        rpy="0 0 0" />
      <mass
        value="1.54345318072747" />
      <inertia
        ixx="0.00449964965482029"
        ixy="0.000691491991779575"
        ixz="0.00076538656326071"
        iyy="0.00436565157097548"
        iyz="3.29402152718177E-05"
        izz="0.00454540968874283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0.558"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-1.82028583088141E-14 1.14533382777893E-13 -0.00226394127467477"
        rpy="0 0 0" />
      <mass
        value="0.00817892772179427" />
      <inertia
        ixx="3.26724341471767E-06"
        ixy="5.08219768353239E-22"
        ixz="7.13856251179905E-21"
        iyy="3.26724341471767E-06"
        iyz="5.89910964489524E-20"
        izz="6.50712889652778E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BA006N/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0.115"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
